#CreateOwn{
    display: flex;
    background-image: url(/template_templ/src/scss/components/images/APYBackground.png);
    background-size: cover;
    height: 350px;
}
#CreateYoursTitle{
    display: flex;
}
#CreateYoursButton{
    display: flex;
    height: 50px;
}